<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>ben.aycrigg</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>Tofq6oTkgSVyhRI6K8Gyc77Nbbtrn2JvgyZRZ5i3jWBuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ben.aycrigg@canoeventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
