<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;h2&gt;Custom Deployment job&lt;/h2&gt; Universal across all Canoe Dev/Scrum systems.&#xd;
&#xd;
Uses the Jenkins Slave system.  Parameter Driven.  User supplies needed parameters to initiate the deploy job</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>DeployUser</name>
          <description>&lt;h3&gt;Enter the User id and summary of purpose for deployment&lt;/h3&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Component</name>
          <description>&lt;h3&gt;Select Component to Deploy&lt;/h3&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>caas-core</string>
              <string>Dynamic-Ad-Insertion-cm</string>
              <string>dai-cip</string>
              <string>dai-cip-feedback</string>
              <string>acp</string>
              <string>metadata-publisher</string>
              <string>dai-etl-feeder</string>
              <string>smsi_reporting</string>
              <string>MicroDev</string>
              <string>dai-smsi</string>
              <string>dai-smsi-relay</string>
              <string>smsi-msp-relay</string>
              <string>ads-core</string>
              <string>Dynamic-Ad-Insertion-engine</string>
              <string>smsi-publisher</string>
              <string>dai-national-cis</string>
              <string>dai-metadata-ingestion</string>
              <string>Pgmr-Cpgn-Int</string>
              <string>ad-load-manager</string>
              <string>ops-dce-metadata-agent</string>
              <string>dai-lincoln</string>
              <string>int-test-support</string>
              <string>impression_collector</string>
              <string>POIS</string>
              <string>request-mgr</string>
              <string>SDC-session-collector</string>
              <string>dai-dce</string>
              <string>smsi_reporting</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>&lt;h3&gt;Enter Build Version to Deploy.  Build Version of component to be deployed (must be entered as &lt;b&gt;version number + build number&lt;/b&gt; ie; &lt;u&gt;4.0.0_35&lt;/u&gt;)&lt;p&gt; Open &lt;a href=http://cvbuild.cv.infra/releaseTars/&gt;SCM Staging Area&lt;/a&gt; to discover valid versions to use.

If no version is selected the version selection will happen as follows:
&lt;ul&gt;&lt;li&gt;For DevInt Environment - Existing version will be redeployed
&lt;li&gt;For Scrum Environments - DevInt version will be used for version to deploy
&lt;/ul&gt;&lt;/h3&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DB_Rebuild</name>
          <description>If there is a DB associated with this component, do you want to rebuild from scratch or perform just a liquibase update against the existing schema?</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>No</string>
              <string>Yes</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Clear_Logs</name>
          <description>This option will clear all the log files for the selected component.</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>No</string>
              <string>Yes</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Deploy</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK1.8.0_u25</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash 

export DeployTarg=&quot;devint&quot;
echo &quot;Version-&gt; $Version DeployTarg-&gt; $DeployTarg  Component-&gt; $Component  DeployUser-&gt; $DeployUser&quot;

echo &quot;--- Deployment ID: ${BUILD_TAG} - ${BUILD_ID}&quot;
echo &quot;Deployment to ${DeployTarg} by ${DeployUser}&quot;
echo &quot;Component: ${Component}&quot; 

export BUILD_TAG
export DeployUser
export Component
export Clear_Logs
export Version
export VERSION=${Version}

# Set getVer to 0 to default to devint version
#
export getVer=&quot;0&quot;

cd /opt/build/scripts
pwd

./Single_Component_Deploy.sh $Component $DB_Rebuild $Version $Clear_Logs $DeployTarg $BUILD_TAG $DeployUser

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>