<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>JoelMHassell</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>TM10q3IQqx4siBUgvXVuG/gr2OcPJu8CDGnC528zetluGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>JoelMHassell@cnv-c02g425kdrjm.canoe-ventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
