<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>TestUser</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>1qe7/QbuEEbCUk5cVj6D3nJ4ZH8MBZ+0W2l9s8CoCBRuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.4">
      <credentials/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <hudson.model.MyView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>TestView</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.MyView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$Z6hrAJu4YbG7N0aP72XCCeRIBra.tfgC2LOgn7xYJJqtqvCT9Jc0y</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>lyam.hassell@canoeventures.net</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>