<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Jenkins Admin</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>UhwyAq:6de3528c8b286d367a6f1128da029d07066d48b1a3cff49359c267ffac8139dc</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>phil.zimmerman@canoe-ventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>