<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Sam St.John</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>/NCJX9DdAGmHE+MJwxVdhSE4Z6eF9KF8FamiaeGNwtJuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.4">
      <credentials/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$f/OgrS4XMDrkUCGyHkY4meQlAy2kn.pBca9qB8rB4hKAOEdmP.Ady</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>sam.st.john@canoeventures.net</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>