<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This test is a failure by design... therefore it is a success... a successful failure. You don&apos;t even know what to think now!</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>5</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>IP</name>
          <description>Please enter the cloud systems IP.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SID</name>
          <description>Please enter the cloud systems SID</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>HostName</name>
          <description>Please enter the name this cloud system will be identified as. (Note This will become a defining aspect of this systems config data)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export IP
export SID
export HostName

cd /opt/build/scripts

#sed &quot;/s/esac/$/$HostName scrum_cloud_sys.sh&quot;
testvar=`sed &apos;s?esac?${HostName}1)?g&apos;&lt;scrum_cloud_sys.sh`
echo $testvar

echo &quot;blah&quot; | tee scrum_cloud_sys.sh

echo &quot;esac&quot; | tee scrum_cloud_sys.sh
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>