RELNOTES.txt
buildServer/gradleTrain/
buildServer/groovy/bin/build.out
buildServer/groovy/bin/sonar_dump_test.out
buildServer/groovy/bin/tmp/
buildServer/groovy/canoe/alm/cnv.out
buildServer/groovy/canoe/alm/git/repos.out
buildServer/groovy/issue.out
buildServer/groovy/jiraItemInfo.groovy
buildServer/web/repos.out
cie/jenkins/createRelease.sh.orig
cie/scripts/config.xml
cie/scripts/fields.out
cie/scripts/getTix.groovy
cie/scripts/github.groovy
cie/scripts/jenkins.groovy
cie/scripts/jira.groovy.soap
cie/scripts/jiraIssues.html
cie/scripts/soapTest.groovy
cie/scripts/wpConfig.xml
