<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>To be used to specify a version of the app to be deployed.  Since the deploy scripts use the app as the version id, DB and App can get out of sync&#xd;
if the app succeeds and the DB fails.  This job cna be run to put the app at a &apos;less than current&apos; version and then use the standard deploy.&#xd;
&#xd;
Currently intentially broken to prevent inadvertant (action commented out)</description>
  <logRotator>
    <daysToKeep>4</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/ksh

VERSION=&quot;1.2.0_112&quot;

print Deploying version ${VERSION}
print
print

cd /opt/checkouts/oss_deployment/scripts

#./deployapp.sh -a oss_bar -e 10.13.18.117 -r ${VERSION} -i oss_bar -v</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>