<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>&lt;h1&gt;Title:  &lt;b&gt;Performance Single Component, Deployment job&lt;/b&gt;&lt;/h1&gt; &#xd;
&#xd;
&lt;h2&gt;&lt;u&gt;Description:&lt;/u&gt; &lt;b&gt;This job will deploy one component to the Performance Environment.  User specifies :&#xd;
  &lt;ul&gt;&#xd;
     &lt;li&gt;The component to deploy&#xd;
     &lt;li&gt;The version of the component&#xd;
     &lt;li&gt;Whether to rebuild a database component (if applicable)&#xd;
     &lt;li&gt;Whether to clean up any old log files upon deployment.&#xd;
  &lt;/ul&gt;&#xd;
       &lt;/h2&gt; &lt;br&gt;&lt;/b&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>DeployUser</name>
          <description>&lt;h3&gt;Enter the User id and summary of purpose for deployment&lt;/h3&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Component</name>
          <description>&lt;h3&gt;Select Component to Deploy&lt;/h3&gt;</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>caas-core</string>
              <string>Dynamic-Ad-Insertion-cm</string>
              <string>dai-cip-feedback</string>
              <string>dai-cip</string>
              <string>metadata-publisher</string>
              <string>dai-etl-feeder</string>
              <string>smsi_reporting</string>
              <string>ads-core</string>
              <string>Dynamic-Ad-Insertion-engine</string>
              <string>dai-national-cis</string>
              <string>dai-smsi</string>
              <string>dai-smsi-relay</string>
              <string>smsi-msp-relay</string>
              <string>smsi-publisher</string>
              <string>rema-publisher</string>
              <string>dmp-config</string>
              <string>acp</string>
              <string>int-test-support</string>
              <string>MicroDev</string>
              <string>Pgmr-Cpgn-Int</string>
              <string>impression_collector</string>
              <string>POIS</string>
              <string>ad-load-manager</string>
              <string>request-mgr</string>
              <string>dai-dce</string>
              <string>SDC-session-collector</string>
              <string>bogus_app</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Version</name>
          <description>&lt;h3&gt;Enter Build Version to Deploy.  Build Version of component to be deployed (must be entered as &lt;b&gt;version number + build number&lt;/b&gt; ie; &lt;u&gt;4.0.0_35&lt;/u&gt;)&lt;p&gt; Open &lt;a href=http://cvbuild.cv.infra/releaseTars/&gt;SCM Staging Area&lt;/a&gt; to discover valid versions to use.

If no version is selected the version selection will happen as follows:
&lt;ul&gt;&lt;li&gt;For DevInt Environment - Existing version will be redeployed
&lt;li&gt;For Scrum Environments - DevInt version will be used for version to deploy
&lt;/ul&gt;&lt;/h3&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>DB_Rebuild</name>
          <description>If there is a DB associated with this component, do you want to rebuild from scratch or perform just a liquibase update against the existing schema?</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>No</string>
              <string>Yes</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>Deploy</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK1.6.0</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export BUILD_TAG
export DeployUser
export Component
export Clear_Logs=&quot;No&quot;
export Version
export VERSION=$Version
echo &quot;Version-$Version VERSION-$VERSION&quot;
export DeployTarg=&quot;zayo_perf&quot;
echo &quot;&lt;b&gt;--- Deployment ID:&lt;/b&gt; ${BUILD_TAG} - ${BUILD_ID}&lt;br&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
echo &quot;&lt;b&gt;Deployment to ${DeployTarg} by ${DeployUser} &lt;/b&gt;&lt;br&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log

# Set getVer to 0 to default to devint version
#
export getVer=&quot;0&quot;

cd /opt/build/scripts
./Zayo_Perf_Single_Component_Deploy.sh $Component $DB_Rebuild $Version $Clear_Logs $DeployTarg $BUILD_TAG $DeployUser



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>