<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>4</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/ksh

VERSION=`ssh tcserver@dvappdai01 &quot;cd /opt/tcserver/dai_etl_feeder; jar xf dai-etl-feeder.jar META-INF/MANIFEST.MF; grep Implementation-Version META-INF/MANIFEST.MF | cut -d : -f 2 | tr -d &apos; &apos;  | tr -d &apos;\r&apos;; rm -fR META-INF&quot;`

/opt/build/scripts/tcServerAdmin.sh dvappdai04 report stop
/opt/build/scripts/tcServerAdmin.sh dvappdai04 oss_bar stop
/opt/build/scripts/tcServerAdmin.sh dvappdai04 smsi stop
/opt/build/scripts/tcServerAdmin.sh dvappdai04 smsi-admin stop

cd /opt/build/scripts
./kill_dbsessions.sh -a dai-etl-feeder -e scrum3

print Beginning Rebuild from scratch for app/db to latest package version ${VERSION}
print ------------------------------------------------------------------------------------------#------------------
cd /opt/checkouts/dai-etl-feeder/src/main/resources/liquibase/cisys

echo &quot;@genUser.scrum3.sql;&quot; | sqlplus -s &apos;cm_system/oracle123@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.13.18.121)(PORT=1522)))(CONNECT_DATA=(SERVICE_NAME=scrum003)))&apos;

STATUS=${?}
if [[ ${STATUS} != &quot;0&quot; ]]; then
    exit ${STATUS}
fi

cd /opt/checkouts/oss_deployment/scripts

./deployJarRebuild.sh -a dai-etl-feeder -t dai-etl-feeder -e scrum3 -r ${VERSION} -j &quot;jdbc:oracle:thin:@10.13.18.121:1522:scrum003&quot; -p SC3_REPORTING_ODS -u SC3_REPORTING_ODS -c SC3_CORE -b SC3_OSS_BAR -v

STATUS=${?}
if [[ ${STATUS} != &quot;0&quot; ]]; then
    exit ${STATUS}
fi

/opt/build/scripts/tcServerAdmin.sh dvappdai04 report start
/opt/build/scripts/tcServerAdmin.sh dvappdai04 oss_bar start
/opt/build/scripts/tcServerAdmin.sh dvappdai04 smsi start
/opt/build/scripts/tcServerAdmin.sh dvappdai04 smsi-admin start
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

VERSION=`ssh tcserver@dvappdai01 &quot;cd /opt/tcserver/dai_etl_feeder; jar xf dai-etl-feeder.jar META-INF/MANIFEST.MF; grep Implementation-Version META-INF/MANIFEST.MF | cut -d : -f 2 | tr -d &apos; &apos;  | tr -d &apos;\r&apos;; rm -fR META-INF&quot;`

echo &quot;dai-etl-feeder-${VERSION}&quot; &gt; /var/www/html/scrum3/etl.txt
echo &quot;dai-etl-feeder-${VERSION}&quot; &gt; /var/www/html/scrum3/etldb.txt</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.emailext.ExtendedEmailPublisher>
      <recipientList>jeff.schaeffer@canoeventures.net</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <recipientList>$PROJECT_DEFAULT_RECIPIENTS</recipientList>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <sendToDevelopers>true</sendToDevelopers>
            <sendToRequester>false</sendToRequester>
            <includeCulprits>false</includeCulprits>
            <sendToRecipientList>true</sendToRecipientList>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers/>
</project>