<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Kenneth Leider</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>1sT6LFEb/nHhkwrccW7D8Iq+z4vtKfuLM1GNI9B1VBRuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>nRDOJC:d90752b7bfdeeaffd5fd9dddea0392944286139f50ecef262de27001a8edf7d5</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>ken.leider@canoeventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
