<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>jaschen</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>UavnBXp7rvyRNCDPomHGL8CRugZu3g497byYmier+WFuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>jaschen@progress.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
