<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>github</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>EcV+NVoLV4Yma8zl23GU4MSCMcyXVXMjCPJSsYSzMdVuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>WdezCd:86061a2b4368151eadc5b7f073813430ef00981e4831f97e4be9cb374971a8fc</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>phil.zimmerman@canoe-ventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
