<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Compile job for 1.1.5 version of the canoe-webappsec plugin. </description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>5</daysToKeep>
    <numToKeep>10</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export WEBAPPSEC_VERSION=`cat ${WORKSPACE}/application.properties | awk -F&quot;=&quot; &apos;/app.version/ {print $2}&apos;`
echo &quot;Deploying WEBAPPSEC version ${WEBAPPSEC_VERSION} to artifactory&quot;
cp grails-canoe-web-app-sec-${WEBAPPSEC_VERSION}.zip canoe-web-app-sec-${WEBAPPSEC_VERSION}.zip</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers>
    <org.jfrog.hudson.generic.ArtifactoryGenericConfigurator plugin="artifactory@2.1.5">
      <details>
        <artifactoryUrl>https://canoe-ventures.artifactoryonline.com/canoe_ventures</artifactoryUrl>
        <artifactoryName>https://canoe-ventures.artifactoryonline.com/canoe_ventures</artifactoryName>
        <repositoryKey>plugins-releases-local</repositoryKey>
        <snapshotsRepositoryKey>plugins-releases-local</snapshotsRepositoryKey>
      </details>
      <deployPattern>canoe-web-app-sec-1.6.7.zip=&gt;org/grails/plugins/canoe-web-app-sec/1.6.7
canoe-web-app-sec-1.6.7-SNAPSHOT.zip=&gt;org/grails/plugins/canoe-web-app-sec/1.6.7-SNAPSHOT
</deployPattern>
      <resolvePattern></resolvePattern>
      <matrixParams></matrixParams>
      <deployBuildInfo>true</deployBuildInfo>
      <includeEnvVars>false</includeEnvVars>
      <envVarsPatterns>
        <includePatterns></includePatterns>
        <excludePatterns>*password*,*secret*</excludePatterns>
      </envVarsPatterns>
      <discardOldBuilds>false</discardOldBuilds>
      <discardBuildArtifacts>true</discardBuildArtifacts>
    </org.jfrog.hudson.generic.ArtifactoryGenericConfigurator>
  </buildWrappers>
</project>