<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Rick Rothenberg</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>hyx09kSqUn9j2HaNZgBLIhhA88a6Al/8OQ/QwbLmROhuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>dMZmAf:06948e3d118beddb585d9c9c63a6222da19228d68cec3a7c045dba68a6489996</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>Rick.Rothenberg@canoe-ventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
