<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Jeff Schaeffer</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <primaryViewName>All</primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Perry</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
            <string>ADS-Core-compile-4.0.0</string>
            <string>ADS-Core-compile-4.0.0.2</string>
            <string>ADS-Core-compile-4.0.0_106</string>
            <string>ads-core-PackageDeploy-4.0.0</string>
            <string>ads-core-PackageDeploy-4.0.0.1</string>
            <string>dai-cip-feedback-compile-4.0.0</string>
            <string>dai-cip-feedback-PackageDeploy-4.0.0</string>
            <string>dai-dce-compile-4.0.0</string>
            <string>dai-dce-PackageDeploy-4.0.0</string>
            <string>DAI-DecisionEngine-compile-4.0.0</string>
            <string>DAI-DecisionEngine-compile-4.0.0.1</string>
            <string>DAI-DecisionEngine-compile-4.0.0.3</string>
            <string>DAI-DecisionEngine-PackageDeploy-4.0.0</string>
            <string>DAI-DecisionEngine-PackageDeploy-4.0.0.1</string>
            <string>DAI-DecisionEngine-PackageDeploy-4.0.0.2</string>
            <string>DAI-DecisionEngine-PackageDeploy-4.0.0.3</string>
            <string>dai-national-cis-Compile-4.0.0</string>
            <string>dai-national-cis-PackageDeploy-4.0.0</string>
            <string>dai-smsi-compile-4.0.0</string>
            <string>dai-smsi-compile-4.0.0.1</string>
            <string>dai-smsi-PackageDeploy-4.0.0</string>
            <string>dai-smsi-PackageDeploy-4.0.0.1</string>
            <string>dai-smsi-PackageDeploy-4.0.0.2</string>
            <string>dai-smsi-relay-compile-4.0.0</string>
            <string>dai-smsi-relay-PackageDeploy-4.0.0</string>
            <string>dai-smsi-relay-PackageDeploy-4.0.0.1</string>
            <string>impression_collector-compile-4.0.0</string>
            <string>impression_collector-PackageDeploy-4.0.0</string>
            <string>SDC-session-collector-compile-4.0.0</string>
            <string>SDC-session-collector-PackageDeploy-4.0.0</string>
            <string>smsi_data_collector-compile-4.0.0</string>
            <string>smsi_data_collector-PackageDeploy-4.0.0</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Transformers</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
            <string>acp-compile-4.0.0</string>
            <string>acp-PackageDeploy-4.0.0</string>
            <string>common-lib-compile-1.0.0</string>
            <string>common-lib-compile-4.1.0</string>
            <string>common-lib-compile-QuickDraw-1.0.0</string>
            <string>common-lib-JWSPackageDeploy-1.0.0</string>
            <string>common-lib-PackageDeploy-1.0.0</string>
            <string>dai-cip-compile-4.0.0</string>
            <string>dai-cip-PackageDeploy-4.0.0</string>
            <string>dai-cip-PackageDeploy-4.0.0.1</string>
            <string>dai-common-cucumber-compile-3.0.0</string>
            <string>int-test-support-compile-1.0.0</string>
            <string>int-test-support-compile-4.1.0</string>
            <string>int-test-support-PackageDeploy-1.0.0</string>
            <string>int-test-support-PackageDeploy-4.1.0</string>
            <string>metadata-publisher_compile-4.0.0</string>
            <string>metadata-publisher_PackageDeploy-4.0.0</string>
            <string>Pgmr-Cpgn-Int-compile-4.0.0</string>
            <string>Pgmr-Cpgn-Int-PackageDeploy-4.0.0</string>
            <string>POIS-compile-4.0.0</string>
            <string>POIS-PackageDeploy-4.0.0</string>
            <string>smsi-publisher-compile-4.0.0</string>
            <string>smsi-publisher-compile-4.0.0.1</string>
            <string>smsi-publisher-compile-4.0.0.1_7</string>
            <string>smsi-publisher-compile-4.0.0.2</string>
            <string>smsi-publisher-compile-4.0.0.3</string>
            <string>smsi-publisher-compile-4.1.0</string>
            <string>smsi-publisher-PackageDeploy-4.0.0</string>
            <string>smsi-publisher-PackageDeploy-4.0.0.1</string>
            <string>smsi-publisher-PackageDeploy-4.1.0</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>MysteryMen</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
            <string>caas-core-compile-4.0.0</string>
            <string>caas-core-compile-4.0.0.1</string>
            <string>caas-core-compile-4.0.0.2</string>
            <string>caas-core-compile-4.0.0.3</string>
            <string>caas-core-compile-4.2.0</string>
            <string>caas-core-compile-4.3.0</string>
            <string>caas-core-PackageDeploy-4.0.0</string>
            <string>caas-core-PackageDeploy-4.0.0.1</string>
            <string>caas-core-PackageDeploy-4.2.0</string>
            <string>caas-core-PackageDeploy-4.3.0</string>
            <string>canoe-security-compile</string>
            <string>canoe-ux-compile-1.6.19</string>
            <string>canoe-ux-compile-1.6.20</string>
            <string>canoe-ux-compile-1.6.21</string>
            <string>canoe-ux-compile-1.6.22</string>
            <string>canoe-ux-compile-1.6.23</string>
            <string>canoe-ux-compile-1.6.24</string>
            <string>DAI-CampaignMgmt-compile-4.0.1</string>
            <string>DAI-CampaignMgmt-cucumber-4.0.0</string>
            <string>DAI-CampaignMgmt-cucumber-4.2.0</string>
            <string>DAI-CampaignMgmt-cucumber-4.3.0</string>
            <string>DAI-CampaignMgmt-cucumber-4.4.0</string>
            <string>DAI-CampaignMgmt-cucumber-4.5.0</string>
            <string>DAI-CampaignMgmt-cucumber-4.6.0</string>
            <string>DAI-CampaignMgmt-cucumber-5.0.0</string>
            <string>DAI-CampaignMgmt-cucumber-5.1.0</string>
            <string>DAI-CampaignMgmt-cucumber-5.2.0</string>
            <string>DAI-CampaignMgmt-cucumber-5.3.0</string>
            <string>DAI-CampaignMgmt-FeatBr-4.0.0</string>
            <string>DAI-CampaignMgmt-FeatBr-4.0.1</string>
            <string>DAI-CampaignMgmt-NightlyTest-4.0.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.0.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.0.1</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.1.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.2.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.3.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.4.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.5.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-4.6.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-5.0.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-5.1.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-5.2.0</string>
            <string>DAI-CampaignMgmt-PackageDeploy-5.3.0</string>
            <string>DAI-CampaignMgmt-unit-4.0.0</string>
            <string>DAI-CampaignMgmt-unit-4.1.0</string>
            <string>DAI-CampaignMgmt-unit-4.2.0</string>
            <string>DAI-CampaignMgmt-unit-4.3.0</string>
            <string>DAI-CampaignMgmt-unit-4.4.0</string>
            <string>DAI-CampaignMgmt-unit-4.5.0</string>
            <string>DAI-CampaignMgmt-unit-4.6.0</string>
            <string>DAI-CampaignMgmt-unit-5.0.0</string>
            <string>DAI-CampaignMgmt-unit-5.1.0</string>
            <string>DAI-CampaignMgmt-unit-5.2.0</string>
            <string>DAI-CampaignMgmt-unit-5.3.0</string>
            <string>tmp_cm_verscheck</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>Data</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
            <string>dai-etl-feeder-compile-4.0.0</string>
            <string>dai-etl-feeder-PackageDeploy-4.0.0</string>
            <string>dai-etl-feeder-PackageDeploy-4.0.0.1</string>
            <string>Microdev-PackageDeploy-To-Scrum</string>
            <string>MicroDev_PackageDeploy-1.0.0</string>
            <string>MicroDev_PackageDeploy-4.0.0</string>
            <string>MicroDevDeploy</string>
            <string>MSDataAnalaysis _PackageDeploy-4.0.0</string>
            <string>scte-feeder-compile-4.0.0</string>
            <string>scte_feeder-PackageDeploy-4.0.0</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>DeployJobs</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
            <string>DevInt_Multicomponent_Deploy</string>
            <string>DevInt_RestartTcserver</string>
            <string>DevInt_SingleComponent_Deploy</string>
            <string>lab-2-lab_RestartTcserver</string>
            <string>lab-to-labEnv-Refresh</string>
            <string>lab2lab_SingleComponent_Deploy</string>
            <string>Marley_MultiComponent_Deploy</string>
            <string>Marley_RestartTcserver</string>
            <string>Marley_SingleComponent_Deploy</string>
            <string>new_ScrumEnv-Refresh</string>
            <string>NewProd-env_refresh</string>
            <string>newprod_SC_Dep</string>
            <string>old_scrum1_RestartTcserver</string>
            <string>old_scrum2_RestartTcserver</string>
            <string>old_scrum3_RestartTcserver</string>
            <string>old_scrum4_RestartTcserver</string>
            <string>performance-EnvRefresh</string>
            <string>Performance_RestartTcserver</string>
            <string>performance_SingleComponent_Deploy</string>
            <string>ProdTest_SingleComponentDeploy</string>
            <string>Production_SingleComponentDeploy</string>
            <string>Promote-to-Scrum2</string>
            <string>RedHat_SingleComponent_Deploy</string>
            <string>RH65_SingleComponent_Deploy</string>
            <string>Scrum1_Multicomponent_Deploy</string>
            <string>Scrum1_RestartTcserver</string>
            <string>Scrum1_SingleComponent_Deploy</string>
            <string>Scrum2_Multicomponent_Deploy</string>
            <string>Scrum2_RestartTcserver</string>
            <string>Scrum2_SingleComponent_Deploy</string>
            <string>Scrum3_Multicomponent_Deploy</string>
            <string>Scrum3_RestartTcserver</string>
            <string>Scrum3_SingleComponent_Deploy</string>
            <string>Scrum4_Multicomponent_Deploy</string>
            <string>Scrum4_RestartTcserver</string>
            <string>Scrum4_SingleComponent_Deploy</string>
            <string>ScrumEnv-Refresh</string>
            <string>ScrumSysGen-Package</string>
            <string>ScrumSysGen_Deploy</string>
            <string>SelectSCMEnv-Refresh</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.LastDurationColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
        <hudson.model.ListView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>SCM</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
          <jobNames>
            <comparator class="hudson.util.CaseInsensitiveComparator" reference="../../../hudson.model.ListView/jobNames/comparator"/>
            <string>Auto_RestartTcserver</string>
            <string>CloudTest</string>
            <string>dai_scm-compile-4.0.0</string>
            <string>dai_scm-compile-5.0.0</string>
            <string>dai_scm-compile-5.7</string>
            <string>dai_scm-compile-5.8</string>
            <string>dai_scm-compile-5.9</string>
            <string>dai_scm-compile-6.0</string>
            <string>dai_scm-PackageDeploy-4.0</string>
            <string>dai_scm-PackageDeploy-4.0.0</string>
            <string>dai_scm-PackageDeploy-5.0.0</string>
            <string>dai_scm-PackageDeploy-5.7</string>
            <string>dai_scm-PackageDeploy-5.8</string>
            <string>dai_scm-PackageDeploy-5.9</string>
            <string>dai_scm-PackageDeploy-6.0</string>
            <string>GenRelease</string>
            <string>lab-2-lab_RestartTcserver</string>
            <string>lab-to-labEnv-Refresh</string>
            <string>new_ScrumEnv-Refresh</string>
            <string>NewProd-env_refresh</string>
            <string>newprod_SC_Dep</string>
            <string>old_scrum1_RestartTcserver</string>
            <string>old_scrum2_RestartTcserver</string>
            <string>old_scrum3_RestartTcserver</string>
            <string>old_scrum4_RestartTcserver</string>
            <string>package_test</string>
            <string>performance-EnvRefresh</string>
            <string>Performance_RestartTcserver</string>
            <string>ProdGenRelease</string>
            <string>Promote-to-Scrum2</string>
            <string>scm_jenkins_backup</string>
            <string>ScrumEnv-Refresh</string>
            <string>ScrumSysGen-Package</string>
            <string>ScrumSysGen_Deploy</string>
            <string>SecurityCheckJob</string>
            <string>SelectSCMEnv-Refresh</string>
            <string>setGrails201</string>
            <string>setGrails203</string>
            <string>setGrails204</string>
            <string>template-grailsApp-compile-1.0.0</string>
            <string>template-grailsplugin-compile-1.0.0</string>
            <string>Test_MSComponent_Deploy</string>
            <string>test_proj-compile-4.0.0</string>
            <string>test_proj-compile-4.1</string>
            <string>test_proj-compile-4.12.0</string>
            <string>test_proj-PackageDeploy-4.0.0</string>
            <string>test_proj-PackageDeploy-4.1</string>
            <string>test_proj-PackageDeploy-4.12.0</string>
            <string>test_proj-PackageDeploy-4.2.0</string>
            <string>test_proj2-PackageDeploy-4.0.0</string>
            <string>TestGenRelease</string>
            <string>tmp_chkdates</string>
            <string>tmp_cm_verscheck</string>
            <string>Version_Path</string>
            <string>Version_Path_test</string>
          </jobNames>
          <jobFilters/>
          <columns>
            <hudson.views.StatusColumn/>
            <hudson.views.WeatherColumn/>
            <hudson.views.JobColumn/>
            <hudson.views.LastSuccessColumn/>
            <hudson.views.LastFailureColumn/>
            <hudson.views.BuildButtonColumn/>
          </columns>
          <recurse>false</recurse>
        </hudson.model.ListView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>SgOiMF:e7cab5af194b2d80cf5d29259db64475f66514d1b61c3c2579014ae90482724e</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.11">
      <emailAddress>jeff.schaeffer@canoe-ventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <jenkins.security.ApiTokenProperty>
      <apiToken>OOCFUENuJYI5yluVMG+y9ZLq1iuMWxeWRsZZ76umqfxuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1.16.1">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1400712965232</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>