<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Steve Wall</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>z7RdcdhswFTPIwo9PIeRpn+wmSZu6EUXjSA12JGHjG5uGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>CvZAMF:1f5cce96d7a6cbb09de77435a2e2509c5c8ed61a7b18ab75ce394205aebc7ebe</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>steve.wall@canoeventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
