<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>4</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.5">
      <projectUrl>https://github.com/CanoeVentures/dai-etl-feeder/</projectUrl>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@1.3.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name></name>
        <refspec></refspec>
        <url>git@github.com:CanoeVentures/dai-etl-feeder.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>origin/br_3.0.0.2</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <disableSubmodules>false</disableSubmodules>
    <recursiveSubmodules>false</recursiveSubmodules>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <authorOrCommitter>false</authorOrCommitter>
    <clean>false</clean>
    <wipeOutWorkspace>false</wipeOutWorkspace>
    <pruneBranches>false</pruneBranches>
    <remotePoll>false</remotePoll>
    <ignoreNotifyCommit>false</ignoreNotifyCommit>
    <useShallowClone>false</useShallowClone>
    <buildChooser class="hudson.plugins.git.util.DefaultBuildChooser"/>
    <gitTool>Default</gitTool>
    <browser class="hudson.plugins.git.browser.GitWeb">
      <url>https://github.com/CanoeVentures/dai-etl-feeder/</url>
    </browser>
    <submoduleCfg class="list"/>
    <relativeTargetDir></relativeTargetDir>
    <reference></reference>
    <excludedRegions></excludedRegions>
    <excludedUsers></excludedUsers>
    <gitConfigName></gitConfigName>
    <gitConfigEmail></gitConfigEmail>
    <skipTag>false</skipTag>
    <includedRegions></includedRegions>
    <scmName></scmName>
  </scm>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash
/opt/build/scripts/createRelease.sh dai-etl-feeder dai-etl-feeder br_3.0.0.2 ${BUILD_NUMBER}</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/ksh
VERSION=&quot;3.0.0.2_${BUILD_NUMBER}&quot;

/opt/build/scripts/tcServerAdmin.sh dvappdai03 report stop
/opt/build/scripts/tcServerAdmin.sh dvappdai03 oss_bar stop
/opt/build/scripts/tcServerAdmin.sh dvappdai03 smsi-admin stop
/opt/build/scripts/tcServerAdmin.sh dvappdai03 smsi stop
/opt/build/scripts/tcServerAdmin.sh dvappdai03 billing stop

cd /opt/build/scripts
./kill_dbsessions.sh -a dai-etl-feeder -e scrum2

print Beginning Rebuild from scratch for app/db to latest package version ${VERSION}
print 
print

cd /opt/checkouts/tmpdai-etl-feeder/cisys

echo &quot;@genUser.scrum2.sql;&quot; | sqlplus -s &apos;cm_system/oracle123@(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.13.18.120)(PORT=1522)))(CONNECT_DATA=(SERVICE_NAME=scrum002)))&apos;

STATUS=${?}
if [[ ${STATUS} != &quot;0&quot; ]]; then
    exit ${STATUS}
fi

cd /opt/checkouts/oss_deployment/scripts

./deployJarRebuild.sh -a dai-etl-feeder -t dai-etl-feeder -e scrum2 -r ${VERSION} -j &quot;jdbc:oracle:thin:@10.13.18.120:1522:scrum002&quot; -p SC2_REPORTING_ODS -u SC2_REPORTING_ODS -c SC2_CORE -b SC2_OSS_BAR -v

/opt/build/scripts/tcServerAdmin.sh dvappdai03 smsi-admin start
/opt/build/scripts/tcServerAdmin.sh dvappdai03 smsi start
/opt/build/scripts/tcServerAdmin.sh dvappdai03 billing start
/opt/build/scripts/tcServerAdmin.sh dvappdai03 oss_bar start</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

VERSION=&quot;3.0.0.2_${BUILD_NUMBER}&quot;

echo &quot;dai-etl-feeder-${VERSION}&quot; &gt; /var/www/html/scrum2/etl.txt
echo &quot;dai-etl-feeder-${VERSION}&quot; &gt; /var/www/html/scrum2/etldb.txt</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.plugins.jira.JiraIssueUpdater plugin="jira@1.31"/>
  </publishers>
  <buildWrappers/>
</project>