<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>yong.liu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>MSj/f/ODRSUNsGOdij45LsdIUpKeV80Y5SL3T320rv5uGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.4">
      <emailAddress>yong.liu@canoeventures.com</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>