<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.TextParameterDefinition>
          <name>DeployUser</name>
          <description>&lt;h2&gt;Enter the User id and summary of purpose for deployment&lt;/h2&gt;</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Instances</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>  Dynamic-Ad-Insertion-engine)</string>
              <string>cv-pfdec_eng01.cv.perf:PF_DECENG_01:ads</string>
              <string>cv-pfdec_eng02.cv.perf:PF_DECENG_02:ads</string>
              <string>cv-pfdec_eng03.cv.perf:PF_DECENG_03:ads</string>
              <string>cv-pfdec_eng04.cv.perf:PF_DECENG_04:ads</string>
              <string>cv-pfdec_eng05.cv.perf:PF_DECENG_05:ads</string>
              <string>cv-pfdec_eng06.cv.perf:PF_DECENG_06:ads</string>
              <string>cv-pfde_ciping01.cv.perf:PF_CIPING_01:ads</string>
              <string>cv-pfde_ciping02.cv.perf:PF_CIPING_02:ads</string>
              <string>cv-pfde_ciping03.cv.perf:PF_CIPING_03:ads</string>
              <string>cv-pfde_ciping04.cv.perf:PF_CIPING_04:ads</string>
              <string>cv-pfcluster01.cv.perf:PF_CIS_01:cis</string>
              <string></string>
              <string> Dynamic-Ad-Insertion-cm)</string>
              <string>cv-pfcluster03.cv.perf:PF_CM_01:Dynamic-Ad-Insertion-cm</string>
              <string></string>
              <string> request-mgr)</string>
              <string>cv-pfrqman01.cv.perf:PF_REQMAN_01:request-manager</string>
              <string>cv-pfrqman02.cv.perf:PF_REQMAN_02:request-manager</string>
              <string>cv-pfrqman03.cv.perf:PF_REQMAN_03:request-manager</string>
              <string>cv-pfrqman04.cv.perf:PF_REQMAN_04:request-manager</string>
              <string>cv-pfrqman05.cv.perf:PF_REQMAN_05:request-manager</string>
              <string></string>
              <string> dai-cip-feedback)</string>
              <string>cv-pfcip_feedbk01.cv.perf:PF_FBN_01:cip-server</string>
              <string>cv-pfcip_feedbk02.cv.perf:PF_FBN_02:cip-server</string>
              <string></string>
              <string> Pgmr-Cpgn-Int)</string>
              <string>cv-pfpci01.cv.perf:PF_PCI_01:pci</string>
              <string>cv-pfpci02.cv.perf:PF_PCI_02:pci</string>
              <string>cv-pfpci03.cv.perf:PF_PCI_03:pci</string>
              <string></string>
              <string> metadata-publisher)</string>
              <string>cv-pfcluster02.cv.perf:PF_METAPUB_01:publisher</string>
              <string></string>
              <string> smsi-publisher)</string>
              <string>cv-pfsmsi_pub01.cv.perf:PF_SMSIPUB_01:smsi-publisher</string>
              <string>cv-pfsmsi_pub02.cv.perf:PF_SMSIPUB_02:smsi-publisher</string>
              <string>cv-pfsmsi_pub03.cv.perf:PF_SMSIPUB_03:smsi-publisher</string>
              <string>cv-pfsmsi_pub04.cv.perf:PF_SMSIPUB_04:smsi-publisher</string>
              <string></string>
              <string> dai-smsi)</string>
              <string>cv-pfsmsi_ing01.cv.perf:PF_SMSI_01:safi-smsi-server</string>
              <string>cv-pfsmsi_ing02.cv.perf:PF_SMSI_02:safi-smsi-server</string>
              <string>cv-pfsmsi_ing03.cv.perf:PF_SMSI_03:safi-smsi-server</string>
              <string>cv-pfsmsi_ing04.cv.perf:PF_SMSI_04:safi-smsi-server</string>
              <string></string>
              <string> SDC-session-collector)</string>
              <string>cv-pfscol01.cv.perf:PF_SESCOL_01:sdc-session-collector-server</string>
              <string>cv-pfscol02.cv.perf:PF_SESCOL_02:sdc-session-collector-server</string>
              <string>cv-pfscol03.cv.perf:PF_SESCOL_03:sdc-session-collector-server</string>
              <string>cv-pfscol04.cv.perf:PF_SESCOL_04:sdc-session-collector-server</string>
              <string>cv-pfscol05.cv.perf:PF_SESCOL_05:sdc-session-collector-server</string>
              <string></string>
              <string> dai-smsi-relay)</string>
              <string>cv-pfsmsi_relay01.cv.perf:PF_SMSIREL_01:smsi-relay-client</string>
              <string>cv-pfsmsi_relay02.cv.perf:PF_SMSIREL_02:smsi-relay-client</string>
              <string>cv-pfsmsi_relay03.cv.perf:PF_SMSIREL_03:smsi-relay-client</string>
              <string>cv-pfsmsi_relay04.cv.perf:PF_SMSIREL_04:smsi-relay-client</string>
              <string>cv-pfsmsi_relay05.cv.perf:PF_SMSIREL_05:smsi-relay-client</string>
              <string>cv-pfsmsi_relay06.cv.perf:PF_SMSIREL_06:smsi-relay-client</string>
              <string></string>
              <string> int-test-support)</string>
              <string>cv-pffeeder02.cv.perf:mocksvr01:int-test-support</string>
              <string></string>
              <string> ad-load-manager)</string>
              <string>cv-pfcluster03.cv.perf:PF_ALM_01:alm-server</string>
              <string></string>
              <string> dai-dce)</string>
              <string>cv-pfdce.cv.perf:PF_DCE_01:dai-dce-server</string>
              <string></string>
              <string> dai-national-cis)</string>
              <string>cv-pfcluster01.cv.perf:PF_NCIS_01:nCisClient</string>
              <string></string>
              <string> POIS)</string>
              <string>cv-pfpois01.cv.perf:PF_POIS_01:pois</string>
              <string>cv-pfpois02.cv.perf:PF_POIS_02:pois</string>
              <string></string>
              <string> impression_collector)</string>
              <string>cv-pfimp_coll01.cv.perf:PF_IMPCOL_01:impression_collector_server</string>
              <string>cv-pfimp_coll02.cv.perf:PF_IMPCOL_02:impression_collector_server</string>
              <string></string>
              <string> dai-cip)</string>
              <string>cv-pfcluster03.cv.perf:pf_dai_cip</string>
              <string></string>
              <string> acp)</string>
              <string>cv-pfcluster02.cv.perf:pf_acp</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK1.6.0</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

echo &quot;&lt;b&gt;--- Restart ID:&lt;/b&gt; ${BUILD_TAG} - ${BUILD_ID}&lt;br&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
echo &quot;&lt;b&gt;tcServer Restart on ${DeployTarg} by ${DeployUser} &lt;/b&gt;&lt;br&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
export SelInst=`echo &quot;$Instances&quot; | sed &apos;s?,? ?g&apos;`

##############
# Execute a command. Do not fail on exit.
##############
executeCommandNoFail() {

    if [ ${VERBOSE} = 1 ] ; then
        echo &quot;Executing : $1&quot;
    fi

    RESULT=`eval &quot;$1&quot;`

    if [ ${VERBOSE} = 1 ] ; then
        echo &quot;Result : $RESULT&quot;
    fi
}


export Parameter=$Instances
export DeployTarg=&quot;Performance&quot;
export DeployUser
export restComp=&quot;n&quot;
export VERBOSE=&quot;1&quot;
echo &quot;Instance -&gt; $Instance   RestartTarg -&gt; $RestartTarg   DeployTarg -&gt; $DeployTarg&quot;


     export Instance=&quot;$(echo $Parameter | cut -f2 -d:)&quot;
     export RestartTarg=&quot;$(echo $Parameter | cut -f1 -d:)&quot; 
     export Appname=&quot;$(echo $Parameter | cut -f3 -d:)&quot;


if [[ ${restComp} = &quot;y&quot; ]]; then
   echo &quot;A&quot;
  else
   echo ${Instance}
   echo ${Parameter} 
   cd /opt/build/scripts
   executeCommandNoFail &quot;./tcServerAdmin.sh $RestartTarg $Instance stop&quot;
   executeCommandNoFail &quot;./tcServerAdmin.sh $RestartTarg $Instance start&quot;
fi
   executeCommandNoFail &quot;./tcServerAdmin.sh $RestartTarg $Instance status&quot; 


#echo &quot;&lt;b&gt;URL For Restart output: &lt;/b&gt;&lt;a href=&quot;${BUILD_URL}console&quot;&gt;console&lt;/a&gt;&lt;br&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
#echo &quot;&lt;hr&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
#echo &quot;&lt;p&gt;&quot; &gt;&gt; /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log
#mv /opt/build/scm/scripts/buildServer/log/${DeployTarg}.html /opt/build/scm/scripts/buildServer/log/${DeployTarg}.tmp
#cat /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log /opt/build/scm/scripts/buildServer/log/${DeployTarg}.tmp &gt; /opt/build/scm/scripts/buildServer/log/${DeployTarg}.html
#rm /opt/build/scm/scripts/buildServer/log/${DeployTarg}.tmp
#rm /opt/build/scm/scripts/buildServer/log/${BUILD_TAG}.log</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

#cd /opt/build/scripts

#export targs=&quot;Performance&quot;
#echo &quot;./envRefresh.sh $targs&quot;
#./envRefresh.sh $targs</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>