<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>stevemarkel</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>W3nwZSEUzrUsy1l7Q1BICiZbfBpBWWOenbjy19kPy9RuGmNJyZm1qVoo35bWuB8Z</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.tasks.Mailer_-UserProperty>
      <emailAddress>stevemarkel@Canoe-Venturess-MacBook-Pro.local</emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
  </properties>
</user>
